*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    background-size: cover;
    height: 100vh;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(lake.jpg) no-repeat fixed center;
    background-size: cover;
    animation: scaling 60s linear infinite;
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    width: 25rem;
    padding: 2.5rem;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 1.875rem;
    color: white;
    text-align: center;
}

.login-box .input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 0.625rem 0;
    font-size: 1rem;
    transition: 0.5s;
}

.input-box input:focus~label, .input-box input:valid~label, .input-box input:not([value=""])~label {
    top: -20px;
    font-size: 12px;
    color: #f1d7c3;
}

.login-box button {
    border: none;
    outline: none;
    color: black;
    background-color: #f1d7c3;
    font-weight: bold;
    padding: 0.625rem 1.125rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
}

